$assets-path = '//apps.bostonglobe.com/election-results/2016/general/assets/'

//=======================
// Base
//=======================
@require 'base/variables'
@require 'base/helpers'
@require 'base/unicode'


// Town by town
@require './../../node_modules/react-select/dist/react-select.css'
