$assets-path = 'https://apps.bostonglobe.com/election-results/2016/general/assets/'

//=======================
// Base
//=======================
@require 'base/variables'
@require 'base/helpers'
@require 'base/unicode'

// Homepage fonts
benton()
	font-family "Benton Sans Bold", Helvetica, Arial, sans-serif
	font-weight bold

//=======================
// Custom styles
//=======================
.election-graphic
	font-family $sans
	@require 'homepage/*'

	// Town by town
	@require './../../node_modules/react-select/dist/react-select.css'
