$assets-path = 'https://apps.bostonglobe.com/election-results/2016/general/assets/'

//=======================
// Base
//=======================
@require 'base/variables'
@require 'base/helpers'
@require 'base/unicode'
// Button
$btn
	display inline-block
	text-align center
	overflow visible
	vertical-align middle
	border none
	text-decoration none
	transition 0.2s ease-in-out all

// No scrollbar on map
body
	overflow-x hidden

.elections-source
	font-size 1.1rem
	border-top 1px solid #efefef
	padding-top 0.5em

//=======================
// Custom styles
//=======================
.election-graphic
	@require 'homepage/*'
	.benton-bold
		font-family "Benton Sans Bold", Helvetica, Arial, sans-serif
		font-weight normal
	.benton-regular
		font-family $sans
		font-weight 400
	// Various hides
	.hide-accessible
		hidden(accessible)
	.hide-invisible
		hidden(invisible)
	.hide-display
		hidden()
	// Town by town
	@require './../../node_modules/react-select/dist/react-select.css'
