//========================
// Breakpoints
//========================
$mq_vars = {
	bp-1: '(min-width: 20em)'
    bp-2: '(min-width: 42em)'
    bp-3: '(min-width: 50em)'
    bp-4: '(min-width: 60em)'
}

//========================
// Type Scale
//========================
$root-size = 18px
$root-lh = 2

$type-scale = {
	x-small: 12px
	small: 16px
    base: $root-size
    medium: 24px
    large: 32px
    x-large: 48px
}

//========================
// Z-index
//========================
$z-index = {
	bottom: -100
	middle: 0
	top: 100
	overlay: 200
}

//========================
// Typefaces
//========================
$sans = Helvetica, Arial, sans-serif
$serif = Georgia, Times, serif
$sans-cond = Impact, Arial Narrow, Helvetica, sans-serif
$benton = Benton, Helvetica, Arial, sans-serif
$miller = Miller, Georgia, Times, serif
$miller-banner = Miller-Banner, Georgia, Times, serif

$regular = 400
$bold = 700

//========================
// Project Colors
//========================
$colors = {
	red: #c66a6a
	blue: #a1ced6
	green: #67ba76
	gold: #d8a148
}

$grayscale = {
	lightest: #efefef
	light:#ccc
	medium: #999
	dark:#555
	darkest: #333
}

set-color(color, variant = null)
	if color in $colors
		if variant == light
			return lighten($colors[color], 15%)
		if variant == dark
			return darken($colors[color], 30%)
		else
			return $colors[color]
	else
		error('Not a defined color')

set-gray(color)
	if color in $grayscale
		return $grayscale[color]
	else
		error('Not a defined gray')


//========================
// Project Misc
//========================
$transition = 0.3s ease-in-out all
