doctype html
html(lang="en")
	head
		if isProduction
			link(href='/static/compiled.css', rel='stylesheet', type='text/css')
	body
		#elections-electoralCollege!= appHtml
		script window.REDUX__INITIALSTATE = {}
		script(src='/static/bundle.js')
