doctype html
html(lang="en")
	head
		if isProduction
			link(href='/static/compiled.css', rel='stylesheet', type='text/css')
	body
		#root!= appHtml
		script window.REDUX__INITIALSTATE = !{JSON.stringify(initialState)}
		script(src='/static/bundle.js')
