//========================
// Nav
//========================

// Global nav
.g-nav
	position relative
	height 9rem
	transition 0.3s ease-in-out height
	width 90%
	max-width 70rem
	margin 2em auto 3em auto
	+mq('bp-2')
		height 5rem
	a
		color #59889d
		&:hover
			color #34505c
	&__list
		width 100%
		margin 0 auto
		display flex
		justify-content space-between
		padding 1em 0
		border-bottom 1px solid #efefef
	&__item
		width 25%
		&:not(:last-of-type)
			margin-right 1.5em
	&__link
		cursor pointer
		font-size 1.3rem
		border none
		background-color transparent
		padding 0
		display inline-block
		text-align center
		color rgba(set-gray('darkest'), 0.65)
		transition 0.2s ease-in-out all
		position relative
		filter grayscale(100%)
		// IE filtering
		-ms-filter grayscale(100%)
		filter gray
		&:after
			content ''
			display block
			background linear-gradient(to left, set-color('red'), set-color('blue'))
			width 0
			height 4px
			margin-top 0.5em
			transition width 0.4s ease-in-out
		&:hover
			color set-gray('darkest')
			filter grayscale(0)
			// IE filtering
			-ms-filter grayscale(0%)
			filter none
			&:after
				width 100%
		+mq('bp-2')
			text-align left
		// Icons
		&:before
			display block
			vertical-align text-bottom
			margin 0 auto 0.5em auto
			// transition 0.2s ease-in-out all
			+mq('bp-2')
				display inline-block
				margin 0 0.5em 0 0
	.container-select
		max-width 45rem
		margin 0 auto
	
	// Race is open
	&.race-is-open
		height 50rem
		+mq('bp-2')
			height 23rem
		.nav-race
			color set-gray('darkest')
			filter grayscale(0)
			// IE filtering
			-ms-filter grayscale(0%)
			filter none
			&:after
				width 100%
	// Town is open
	&.town-is-open
		height 18rem
		+mq('bp-2')
			height 15rem
		.nav-town
			color set-gray('darkest')
			filter grayscale(0)
			// IE filtering
			-ms-filter grayscale(0%)
			filter none
			&:after
				width 100%
// President is open
.president-is-open .nav-president
	color set-gray('darkest')
	filter grayscale(0)
	// IE filtering
	-ms-filter grayscale(0%)
	filter none
	&:after
		width 100%
// President is open
.election-is-open .nav-election
	color set-gray('darkest')
	filter grayscale(0)
	// IE filtering
	-ms-filter grayscale(0%)
	filter none
	&:after
		width 100%
		
// Toggle underline if drawer is open
.president-is-open .g-nav.town-is-open .nav-president:after, .president-is-open .g-nav.race-is-open .nav-president:after, .election-is-open .g-nav.town-is-open .nav-election:after, .election-is-open .g-nav.race-is-open .nav-election:after
	width 0

// Sub nav
.subnav
	width 100%
	margin 0 auto
	&__list
		text-align center
		+mq('bp-2')
			text-align left
			display flex
			flex-flow column wrap
			align-content space-between
			height 15rem
	&__link
		display inline-block
		font-size 1.3rem
		line-height 1.2
		margin-bottom 1.5em
	&__item
		&:first-of-type
			a
				display none
// If part of global nav
.g-nav .subnav
	position absolute
	left 0
	right 0
	bottom 1em
	hidden(accessible)
	opacity 0
	transition opacity 0.25s ease-in-out 0.25s
.g-nav.race-is-open .race .subnav,
.g-nav.town-is-open .town .subnav
	width 100%
	height auto
	overflow auto
	opacity 1
.g-nav.race-is-open .subnav
	z-index set-index('middle')
.g-nav.town-is-open .town .subnav
	overflow visible

.Select-control
	cursor pointer