//=======================
// Map!
//=======================

.map-component
	position relative
	.map__tools
		display flex
		justify-content space-between
		margin-bottom 2em
		flex-direction column
		+mq('bp-2')
			flex-direction row
		a
			display block
			order 1
			max-width 20rem
			align-self center
			margin 0 0 2.5em 0
			+mq('bp-2')
				order 2
				margin 0 0 1em 2em
			+ .map__select
				text-align left
				width 100%
				max-width 100%
				order 2
				+mq('bp-2')
					max-width 25rem
					order 1
		.map__select
			margin 0 auto
			text-align center
			width 100%
			max-width 25rem
			select
				border 3px solid set-gray('lightest')
				height 3rem
				+mq('bp-2')
					height 3.5rem
	// a
	// 	float right
	// 	margin-bottom 1.5em
	// 	+ .map__select
	// 		text-align left
	// 		width 20em
	// 		float left
	// 		margin-bottom 1.5em
		
	// .map__select
	// 	text-align center
	// 	max-width 20em
	// 	margin 0 auto 1.5em auto
	
	// + a
	// 	margin-bottom 4em

	.map-wrappers
		position relative

	.full-map,
	.inset-map
		cursor default
		display block
		stroke-linecap round
		stroke-linejoin round

		text
			&.background
				stroke white
				stroke-width 3px

		&.insetted
			width 70%

		&.inset-map
			// border solid black 1px
			position absolute
			bottom 0
			right 0
			width 25%
			pointer-events none

			g.outline
				fill set-gray('light')
				+mq('bp-2')
					fill set-gray('lightest')

			g.subset
				fill set-gray('darkest')
				+mq('bp-2')
					fill set-gray('dark')

		path
			&.selected
				stroke set-gray('darkest')
				stroke-width 2px

		g.features
			stroke white
			stroke-width 0.5px
			+mq('bp-2')
				stroke-width 1px

		g.labels
			stroke none
			fill set-gray('darkest')
			text-anchor middle
			pointer-events none

			text
				font-size 0.65em
				display none

			text.largest-town
				font-size 1.25em
				text-anchor start
				display block

			.DC,.NH,.CT,.RI,.DE,.MD,.NJ,.MS,.KY,.WV,.VT,.MA,.NC
				display none

			@media (min-width: 25em)
				text
					display block

			@media (min-width: 40em)
				text
					display block
					font-size 0.75em
				.MS,.KY,.WV,.VT,.MA,.NC
					display block

			@media (min-width: 50em)
				text
					font-size 0.85em
				.NJ
					display block

			@media (min-width: 60em)
				text
					font-size 0.9em
