//========================
// Buttons
//========================
.btn--primary
	@extends $btn
	border none
	background-color set-gray('darkest')
	color white
	padding 1em
	box-shadow 7px 7px 0px 1px set-gray('light')
	font-size 0.75em
	+mq('bp-2')
		font-size 1em
	&:visited
		@extends .btn--primary
	&:hover, &:active, &:focus
		color white
		box-shadow none

.btn--secondary
	@extends $btn
	border 1px solid set-gray('lightest')
	background-color white
	color set-gray('darkest')
	padding 1em
	box-shadow 7px 7px 0px 1px set-gray('lightest')
	font-size 0.75em
	+mq('bp-2')
		font-size 1em
	&:visited
		@extends .btn--secondary
	&:hover, &:active, &:focus
		color set-gray('darkest')
		box-shadow none

.btn--feature
	@extends $btn
	background linear-gradient(to left,set-color('blue', dark) 0,set-color('red', dark) 100%)
	color white
	text-shadow 0 0 4px #222
	padding 1em
	box-shadow 7px 7px 0px 1px set-gray('darkest')
	font-size 0.75em
	+mq('bp-2')
		font-size 1em
	&:visited
		@extends .btn--feature
	&:hover, &:active, &:focus
		color white
		box-shadow none

// Close btn
.btn--close
	position absolute
	padding 0
	pointer-events all
	background-color transparent
	border none
	transition $transition
	&:hover svg line
		stroke set-color('purple')
	svg
		display block
		width 1.8em
		height 1.8em
		line
			transition $transition

// Twitter btn
.btn--tw
	background-color #0084b4
	padding 0.25em 1em
	border-radius 3px
	&:hover
		background-color darken(#0084b4, 10)
	svg
		fill white