//========================
// Buttons
//========================
.btn--primary, .btn--primary:visited
	@extends $btn
	border none
	background-color set-gray('darkest')
	color white
	padding 1em
	box-shadow 7px 7px 0px 1px set-gray('light')
	font-size 0.75em
	+mq('bp-2')
		font-size 1em
	&:hover, &:active
		color white
		box-shadow none

.btn--secondary, .btn--secondary:visited
	@extends $btn
	border 1px solid set-gray('lightest')
	background-color white
	color set-gray('darkest')
	padding 1em
	box-shadow 7px 7px 0px 1px set-gray('lightest')
	font-size 0.75em
	+mq('bp-2')
		font-size 1em
	&:visited, &:hover, &:active
		color set-gray('darkest')
		box-shadow none


// Close btn
.btn--close
	position absolute
	font-size 2em
	right 0.5em
	pointer-events all
	background-color transparent
	border none
	svg
		display block

// Twitter btn
.btn--tw
	background-color #0084b4
	padding 0.25em 1em
	border-radius 3px
	&:hover
		background-color darken(#0084b4, 10)
	svg
		fill white