//========================
// Colors
//========================

// Fills
.fill-dem
	background-color set-color('blue')
	fill set-color('blue')
	&--light
		background-color set-color('blue', light)
		fill set-color('blue', light)
	&--dark
		background-color set-color('blue', dark)
		fill set-color('blue', dark)
.fill-gop
	background-color set-color('red')
	fill set-color('red')
	&--light
		background-color set-color('red', light)
		fill set-color('red', light)
	&--dark
		background-color set-color('red', dark)
		fill set-color('red', dark)
.fill-yes
	background-color set-color('green')
	fill set-color('green')
	&--light
		background-color set-color('green', light)
		fill set-color('green', light)
	&--dark
		background-color set-color('green', dark)
		fill set-color('green', dark)
.fill-no
	background-color set-color('gold')
	fill set-color('gold')
	&--light
		background-color set-color('gold', light)
		fill set-color('gold', light)
	&--dark
		background-color set-color('gold', dark)
		fill set-color('gold', dark)
.fill-tie
	background-color set-gray('light')
	fill set-gray('light')

// Stripes
.stripe-dem
	background repeating-linear-gradient(120deg, set-color('blue') 0, white 1px, white .15em, set-color('blue') calc(.15em + 1px), set-color('blue') .2em)
.stripe-gop
	background repeating-linear-gradient(120deg, set-color('red') 0, white 1px, white .15em, set-color('red') calc(.15em + 1px), set-color('red') .2em)
.stripe-yes
	background repeating-linear-gradient(120deg, set-color('green') 0, white 1px, white .15em, set-color('green') calc(.15em + 1px), set-color('green') .2em)
.stripe-no
	background repeating-linear-gradient(120deg, set-color('gold') 0, white 1px, white .15em, set-color('gold') calc(.15em + 1px), set-color('gold') .2em)