//========================
// Colors
//========================

// Fills
.fill-leading-dem
	fill url('#crosshatch-dem')
.fill-leading-gop
	fill url('#crosshatch-gop')
.fill-leading-ind
	fill url('#crosshatch-ind')
.fill-winner-ind, .fill-complete-ind, .fill-ind
	background-color set-color('green', dark)
	fill set-color('green', dark)
.fill-winner-dem, .fill-complete-dem, .fill-dem
	background-color set-color('blue')
	fill set-color('blue')
	&--light
		background-color set-color('blue', light)
		fill set-color('blue', light)
	&--dark
		background-color set-color('blue', dark)
		fill set-color('blue', dark)
.fill-winner-gop, .fill-complete-gop, .fill-gop
	background-color set-color('red')
	fill set-color('red')
	&--light
		background-color set-color('red', light)
		fill set-color('red', light)
	&--dark
		background-color set-color('red', dark)
		fill set-color('red', dark)
.fill-yes
	background-color set-color('green')
	fill set-color('green')
	&--light
		background-color set-color('green', light)
		fill set-color('green', light)
	&--dark
		background-color set-color('green', dark)
		fill set-color('green', dark)
.fill-no
	background-color set-color('gold')
	fill set-color('gold')
	&--light
		background-color set-color('gold', light)
		fill set-color('gold', light)
	&--dark
		background-color set-color('gold', dark)
		fill set-color('gold', dark)
.fill-none, .fill-winner-none
	background-color set-gray('lightest')
	fill set-gray('lightest')
.fill-tie
	background-color purple
	fill purple

// Colors
.color-dem
	color set-color('blue', dark)
.color-gop
	color set-color('red', dark)
.color-yes
	color set-color('green', dark)
.color-no
	color set-color('gold', dark)
.color-tie
	color set-gray('medium')

// Stripes
.fill-leading-dem
	background repeating-linear-gradient(120deg, set-color('blue') 0, white 1px, white .15em, set-color('blue') calc(.15em + 1px), set-color('blue') .2em)
.fill-leading-gop
	background repeating-linear-gradient(120deg, set-color('red') 0, white 1px, white .15em, set-color('red') calc(.15em + 1px), set-color('red') .2em)
.fill-leading-ind,
.fill-leading-yes
	background repeating-linear-gradient(120deg, set-color('green') 0, white 1px, white .15em, set-color('green') calc(.15em + 1px), set-color('green') .2em)
.fill-leading-no
	background repeating-linear-gradient(120deg, set-color('gold') 0, white 1px, white .15em, set-color('gold') calc(.15em + 1px), set-color('gold') .2em)
