//========================
// Footer
//========================
.footer
	background-color set-gray('darkest')
	color white
	padding 3em 0
	a
		color set-gray('lightest')
		&:hover
			color set-gray('medium')
		&:before
			display inline-block
	&__source
		width 90%
		max-width 50rem
		margin 1em auto 0 auto
		padding-top 1em
		text-align center
		font-size 0.8em
		border-top 1px solid set-gray('dark')
		+mq('bp-2')
			text-align right