//========================
// Footer
//========================
.footer
	background-color set-gray('darkest')
	color white
	padding 3em 0
	a
		color set-gray('lightest')
		&:hover
			color set-gray('medium')
		&:before
			display inline-block