//========================
// Forms
//========================
.form
	position relative
	&__select
		display block
		font-size 0.9em
		background-color white
		width 100%
		border-radius 3px
		height 2.5em
		cursor pointer
		.Select-control
			cursor pointer
	&__label
		font-size 0.8em
		&--overline
			display block
			margin-bottom 0.5em