//========================
// Groupings
//========================

// Result grouping
.r-col
	border-top 3px solid set-gray('lightest')
	padding-top 1em
	> *
		margin-bottom 1em
		&:not(:last-of-type)
			padding-bottom 1em
			border-bottom 1px solid set-gray('lightest')
	a, button
		margin-top 2em
		width 100%

.r-row
	display flex
	// flex-wrap wrap
	// > *
	// 	margin-right 1.5em
	.r-block__name--small
		text-align center
	&--full
		@extends .r-row
		flex-direction column
		flex-wrap wrap
		+mq('bp-3')
			flex-direction row
		> *
			width 100%
			margin-bottom 1em
			+mq('bp-3')
				width 45%
				margin 1em
			
			// &:not(:last-child)
			// 	margin-bottom 1em
			// 	+mq('bp-2')
			// 		margin-bottom 0

.r-feature
	padding 1em
	border 8px solid transparent
	border-image linear-gradient(to top,set-color('blue') 0,set-color('red') 100%)
	border-image-slice 1
		