//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)

td
	padding 0.25em

.MassMap
	position relative

	.tooltip
		position absolute
		width 20em
		border solid red 1px
		top 0
		left 0
		z-index 10000
		background white
		pointer-events none

svg
	display block
	border solid red 1px
	width 100%
	fill none
	stroke black
	stroke-width 1px

	.gop
		fill rgba(255, 0, 0, 0.5)

	.dem
		fill rgba(0, 0, 255, 0.5)

	.tie
		fill grey

	.none
		fill yellow

	.selected
		stroke-width 5px

body
	padding 2em

ul
	list-style none

h1
	font-weight bold
	font-size 1.25em

.Timer
	border solid black 1px

.ElectoralCollegeBar
	border solid black 1px

	& > div
		margin 2em
		border solid black 1px

.ElectoralCollegeMap
	border solid black 1px

	li
		margin 1em
		border solid black 1px
