//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)

ul
	border-bottom solid red 1px
	margin-bottom 2em

	li
		display inline
		padding 1em

