//=======================
// Map!
//=======================

.map
	position relative
	&__select
		text-align center
		margin-bottom 1em

	svg
		cursor default
		display block
		stroke-linecap round
		stroke-linejoin round

		text
			&.background
				stroke white
				stroke-width 3px

		path
			&.selected
				stroke set-gray('darkest')
				stroke-width 2px

		g.features
			stroke white
			stroke-width 1px

		g.labels
			stroke none
			fill set-gray('darkest')
			font-size 0.65em
			text-anchor middle
			pointer-events none
			display none

			.DC,.NH,.CT,.RI,.DE,.MD,.NJ,.MS,.KY,.WV,.VT,.MA,.NC
				display none

			@media (min-width: 25em)
				display block

			@media (min-width: 40em)
				display block
				font-size 0.75em
				.MS,.KY,.WV,.VT,.MA,.NC
					display block

			@media (min-width: 50em)
				font-size 0.85em
				.NJ
					display block

			@media (min-width: 60em)
				font-size 0.9em


// Legend
.legend
	margin-top 1.5em
	width 100%
	max-width 30em
	&__list
		list-style()
		display flex
		justify-content space-between
	&__item
		flex 1
		// &:not(:last-of-type)
		// 	margin-right 1em
	&__label
		font-size 0.8em
		+mq('bp-2')
			display inline-block
			transform translateY(-0.25em)
			margin-right 0.5em
	&__marker
		width 1.8em
		height 0.8em
		display inline-block
		margin-right 0.25em
			
	.legend
		margin-top 1.5em
		font-size 0.7em