//========================
// Messaging
//========================

// Spinner
.spinner
	width 1em
	height @width
	position relative
	background-color white
	display inline-block
	&__pie
		width 50%
		height 100%
		transform-origin 100% 50%
		position absolute
		background-color mix(set-color('blue', 'dark'), set-color('red', 'dark'))
	&__rotator
		border-radius 100% 0 0 100% / 50% 0 0 50%
		z-index set-index('top')
		animation rotate 15s linear infinite
	&__filler
		border-radius 0 100% 100% 0 / 0 50% 50% 0
		left 50%
		opacity 0
		z-index set-index('top')
		animation opacity 15s steps(1, end) infinite reverse
	&__mask
		width 50%
		height 100%
		position absolute
		background-color inherit
		opacity 1
		z-index set-index('overlay')
		animation opacity 15s steps(1, end) infinite

@keyframes rotate
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)

@keyframes opacity
	0%
		opacity 1
	50%, 100%
		opacity 0

// Timer
.timer
	&__update
		display inline-block
		font-size 0.8em

// Update
.update
	width 100%
	text-align center
	> *
		display inline-block
	&__text
		font-size 0.9em
		+mq('bp-1')
			font-size 1.1em
	&__share
		margin-left 1em

// Tooltip
.tooltip
	max-width 20rem
	box-shadow 0 0 5px set-gray('medium')
	border-radius 3px
	padding 1em

// Find a home for this
.share-tw
	background-color #0084b4
	padding 0.25em 1em
	text-align center
	border-radius 3px
	transition $transition
	&:hover
		background-color darken(#0084b4, 10)
	svg
		width 1em
		height 1em
		fill white