//========================
// Messaging
//========================

.TestStatus
	background-color #f2f2f2
	text-align center
	letter-spacing 0.25em
	border-bottom solid set-gray('medium') 1px

// Timer
.timer
	text-align center
	transform translateY(-3em)
	margin-bottom -2em
	&__elements
		display inline-block
		background-color white
		padding 0.5em 1em
		font-size 0.8em
		line-height 1.8
		overflow hidden
		width 14.5em
		span
			display  block
			&:last-of-type
				font-size 0.9em

// Tooltip
.map-component .tooltip-wrapper
	cursor default
	width 25em
	position absolute
	top 0
	left 0
	margin-top 2.5rem
	padding 0
	z-index 500
	pointer-events none
	display none

	&.show
		display block

	.tooltip
		box-shadow 0 0 5px set-gray('medium')
		border-radius 3px
		padding 1em
		margin 0
		background-color white
		position relative
		width auto

		.btn--close
			right 0.75em
			top 0.75em

		.r-table__name
			padding-left 0.5em

		// .is-winner:before
		// 	left 1em
		// 	bottom 1em

		@media (max-width: 50em)
			// pin to bottom
			position fixed
			bottom 0
			left 0 !important
			width 100%

		.r-table__row .r-table__cell:first-of-type
			clearfix()
