//========================
// Nav
//========================

// Global nav
.g-nav
	position relative
	height 5.5em
	transition 0.3s ease-in-out height
	+mq('bp-2')
		height 3.2em
	// Race
	&.race-is-open
		height 30em
		+mq('bp-2')
			height 16em
	// Town
	&.town-is-open
		height 10em
		+mq('bp-2')
			height 9em
		+mq('bp-3')
			height 8em
	&__list
		width 90%
		max-width 50em
		margin 0 auto
		display flex
		justify-content space-between
		padding 1em 0
		border-bottom 1px solid set-gray('lightest')
	&__item
		width 25%
		&:not(:last-of-type)
			margin-right 1.5em
	&__link
		font-size 0.8rem
		border none
		background-color transparent
		padding 0
		display inline-block
		text-align center
		filter grayscale(100%)
		color set-gray('darkest')
		opacity 0.7
		transition 0.2s ease-in-out all
		&:hover
			filter grayscale(0)
			opacity 1
		+mq('bp-2')
			text-align left
		// Icons
		&:before
			display block
			vertical-align text-bottom
			margin 0 auto 0.5em auto
			+mq('bp-2')
				display inline-block
				margin 0 0.5em 0 0

// Sub nav
.subnav
	width 90%
	max-width 50rem
	margin 0 auto
	// If part of global nav
	/.g-nav &
		position absolute
		left 0
		right 0
		bottom 1em
		hidden(accessible)
		opacity 0
		transition opacity 0.25s ease-in-out 0.25s
		z-index 10000
	/.g-nav.race-is-open .race &,
	/.g-nav.town-is-open .town &
		width 90%
		height auto
		max-width 50rem
		overflow auto
		opacity 1
	/.g-nav.town-is-open .town &
		overflow visible
	&__list
		text-align center
		+mq('bp-2')
			text-align left
			display flex
			flex-flow column wrap
			align-content space-between
			height 9em
	&__item
		flex 1
		font-size 0.85rem
		line-height 1.2
		margin-bottom 1.5em
		&:first-of-type
			font-size 1em
			+mq('bp-2')
				flex 1 0 100%
			// If in the header, hide the elections-home link
			/.header &
				display none
