//========================
// Nav
//========================

// Global nav
.g-nav
	position relative
	&__list
		width 90%
		max-width 50em
		margin 0 auto
		display flex
		justify-content space-between
		padding 1em 0
	&__item
		font-size 0.8em
		&:not(:last-of-type)
			margin-right 1.5em
	&__link
		display inline-block
		text-align center
		filter grayscale(100%)
		&:hover
			filter grayscale(0)
		+mq('bp-2')
			text-align left
		// Icons
		&:before
			display block
			vertical-align text-bottom
			margin 0 auto 0.5em auto
			+mq('bp-2')
				display inline-block
				margin 0 0.5em 0 0

// Sub nav
.subnav
	width 90%
	max-width 50em
	margin 0 auto
	&__list
		text-align center
		+mq('bp-2')
			text-align left
			display flex
			flex-flow column wrap
			align-content space-between
			height 10em
	&__item
		flex 1
		font-size 0.85em
		line-height 1.2
		&:not(:last-of-type)
			margin-bottom 1.5em
		&:first-of-type
			font-size 1em
			+mq('bp-2')
				flex 1 0 100%
			// If in the header, hide the elections-home link
			/.header &
				display none